[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest = "*"
pytest-cov = "*"
ipython = "*"

[packages]
django = "==2.2.24"
requests = "*"
pillow = "*"
ipython = "*"
dateparser = "*"
python-decouple = "*"
django-heroku = "*"
Pillow = "*"
gunicorn = "*"

[requires]
python_version = "3.6"
